# Ensure consistent PATH environment variable
build --incompatible_strict_action_env --action_env=PATH=/bin:/usr/bin:/usr/local/bin

# Disable compression so that the artifact size is predictable
build --remote_cache_compression=false

# No sandbox to avoid extra overhead
build --spawn_strategy=local
